body {
    background-color: rgb(20, 33, 61);
}

h1 {
    font-family: "Josefin Sans";
    font-size: 100px;
}
h2 {
    font-family: "Josefin Sans";
    font-size: 40px;
}

nav {
    background-color: rgb(19, 19, 19);
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: end;
}

nav a {
    font-size:x-large;
    font-style: none;
    color: white;
    font-family: "Josefin Sans";
}

#header-box {
    width: 100%;
    align-content: center;
    align-self: center;
    text-align: center;
    display: flexbox;
    background-color: rgb(114, 114, 114);
    margin: auto;
    border-bottom: 5px solid rgb(252, 163, 17);
    

}
#header-suplex {
    margin-right: 200px;
    margin-bottom: 0px;
}
#header-designs {
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

section#about {
    display: inline-flex;
    text-align: start;
    width: 80%;
    margin: auto;
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
}
#aboutHeader {
    width: 100%;
    border-bottom: 3px solid rgb(252, 163, 17);
    display:inline-block;
}
#about p {
    font-size: 18px;
    width: 60%;
}
#aboutMePhoto {
    justify-self: right;
    width: 40%;
    height:90%;
    max-width: 500px;
    max-height: auto;
    min-width:250px;
    min-height: auto;
}

section#skills {
    display: flexbox;
    text-align: center;
}
.skill-logo {
    width: 150px;
    height: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-top: 50px;
    margin-left: 20px;
}