* {
    background-color: rgb(20, 33, 61);
}
@font-face {
    font-family: "Blanka";
    src: url(./resources/BLANKA_Font/Blanka-Regular.otf);
}
h1 {
    font-family: Bebas Neue;
    font-size: 100px;
    background-color: rgb(114, 114, 114);
}


nav {
    background-color: rgb(19, 19, 19);
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav a {
    font-size:x-large;
    font-style: none;
    color: white;
}

#header-box {
    width: 60%;
    align-content: center;
    align-self: center;
    text-align: center;
    display: flexbox;
    background-color: rgb(114, 114, 114);
    margin: auto;
}

section#skills {
    display: flexbox;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.skill-logo {
    width: 150px;
    height: auto;
    align-items: center;
    align-self: center;
    align-content: center;
}